<a href="https://colab.research.google.com/github/jelly-decoder28/compbioworkshop/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to loops

In [ ]:
# a quick review of creating and nesting lists
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekends = ['Saturday', 'Sunday']
week = [weekdays, weekends]

print('Weekdays:', weekdays)
print('Weekends:', weekends)

Weekdays: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
Weekends: ['Saturday', 'Sunday']

We can access elements in iterables using *indexing*. The first position of an iterable starts at the `0`th index due to *zero indexing*. For example, consider `weekdays`, which contains five string elements.

| iterable element | index position |
|------------------|----------------|
| Monday           | 0              |
| Tuesday          | 1              |
| Wednesday        | 2              |
| Thursday         | 3              |
| Friday           | 4              |

In [ ]:
# first element in weekdays
print(weekdays[0])

# last element in weekdays
print(weekdays[-1])

# slice from the second element through the end of the list
print(weekdays[1:])

# second sub-list in week
print(week[1])

# get first element from the second sub-list in week
print(week[1][0])

Monday
Friday
['Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Saturday', 'Sunday']
Saturday

In [ ]:
# try it out:
# use len() and print() to count the length of each element in weekdays

print(len(weekdays[0]))
print(len(weekdays[1]))
print(len(weekdays[2]))
print(len(weekdays[3]))
print(len(weekdays[4]))

6
7
9
8
6

In [ ]:
for day in weekdays:
    print(len(day)) # this is part of the loop

print("Now we are outside of the loop!")
print(len(day))
print('The weekdays list: ', weekdays) # this is NOT part of the loop

6
7
9
8
6
Now we are outside of the loop!
6
The weekdays list:  ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [ ]:
print(day)

Friday



![96 well plate](https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/96-Well_plate.svg/453px-96-Well_plate.svg.png?20201120040527)

In [ ]:
# warning: this is going to print a lot of text to output

# rows and columns of a 96 well plate
rows = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
columns = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

for row in rows:
	print('Start of row', row)
	for col in columns:
		print(row+col) # the nested for statement code needs to be indented one more level

Start of row A
A1
A2
A3
A4
A5
A6
A7
A8
A9
A10
A11
A12
Start of row B
B1
B2
B3
B4
B5
B6
B7
B8
B9
B10
B11
B12
Start of row C
C1
C2
C3
C4
C5
C6
C7
C8
C9
C10
C11
C12
Start of row D
D1
D2
D3
D4
D5
D6
D7
D8
D9
D10
D11
D12
Start of row E
E1
E2
E3
E4
E5
E6
E7
E8
E9
E10
E11
E12
Start of row F
F1
F2
F3
F4
F5
F6
F7
F8
F9
F10
F11
F12
Start of row G
G1
G2
G3
G4
G5
G6
G7
G8
G9
G10
G11
G12
Start of row H
H1
H2
H3
H4
H5
H6
H7
H8
H9
H10
H11
H12

In [ ]:
# a range from 2 to 10, exclusive of 10
(range(2, 10))

range(2, 10)

In [ ]:
print("First loop (all numbers)")
for number in range(5, 12):
    print(number)

print("Second loop (every third number)")
for number in range(5, 12, 3):
    print(number)

First loop (all numbers)
5
6
7
8
9
10
11
Second loop (every third number)
5
8
11

In [ ]:
# try it out:
# print all even numbers between 20 and 30, including 20 and 30

for number in range(20, 32, 2):
    print(number)

20
22
24
26
28
30

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvqxyz'

for index in range(0, len(alphabet)):
    print(alphabet[index])

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
q
x
y
z

In [ ]:
# every other letter of the alphabet

alphabet = 'abcdefghijklmnopqrstuvqxyz'

for index in range(1, len(alphabet), 2):
  print(alphabet[index])

b
d
f
h
j
l
n
p
r
t
v
x
z

In [ ]:
# three-letter interval slices of the alphabet

alphabet = 'abcdefghijklmnopqrstuvqxyz'

for index in range(0, len(alphabet), 3):
  print(alphabet[index:index+4])

abcd
defg
ghij
jklm
mnop
pqrs
stuv
vqxy
yz

In [ ]:
# overindexing a string
my_string = "Hello World!"
my_string[0:15]

'Hello World!'

In [ ]:
# is 5 + 3 equal to 8?
print(5 + 3 == 8)
print(type(5 + 3 == 8))

True
<class 'bool'>

In [ ]:
# is the string 'True' equal to the Boolean value True?

print('True' == (True))

False

In [ ]:
mixed_list = ['one', 2, 3.0, 'four', 5]

print('four' in mixed_list) # Is 'four' in mixed_list?

print('seven' in mixed_list) # Is 'seven' in mixed_list?

True
False

In [ ]:
# try it out:
# replace the comment ### REPLACE ME ### with the appropriate logic check
# for the following operations

# the \n is a newline character that we are using to make the strings print
# in a more human-readable fashion: you can read more in the [Optional] string
# formatting section

print("Is 9 equal to '9'?\n", 9 == '9')

print('Is 5 greater than 3?\n', 5 > 3)

print('Is 9 less than 4?\n', 9 < 4 )

print('Is 12 greater than or equal to 12?\n', 12 >= 12)

print('Is 4.333 less than or equal to 4.33333333?\n', 4.333 <= 4.33333333)

print('Is 5 equal to 5?\n', 5 == 5)

print('Is 5 not equal to 5?\n', (5 != 5))

myList = [1, 2, 3, 4, 5]
print('Is 3 in the list [1, 2, 3, 4, 5]?\n', (3 in myList))

print("Is the substring 'an' present in the string 'banana'?\n", 'an' in 'bananana')

Is 9 equal to '9'?
 False
Is 5 greater than 3?
 True
Is 9 less than 4?
 False
Is 12 greater than or equal to 12?
 True
Is 4.333 less than or equal to 4.33333333?
 True
Is 5 equal to 5?
 True
Is 5 not equal to 5?
 False
Is 3 in the list [1, 2, 3, 4, 5]?
 True
Is the substring 'an' present in the string 'banana'?
 True

In [ ]:
mixed_list = ['one', 2, 3.0, 'four', 5]

# we want to iterate through each element in mixed_list
# and print a sentence if the element is a string

for element in mixed_list:
    if type(element) == str:  # str represents the string type
        print(element, "is a string.")

one is a string.
four is a string.

In [ ]:
mixed_list = ['one', 2, 3.0, 'four', 5, 6]

# we want to go through each element in mixed_list
# and print different sentences depending on the element type

for element in mixed_list:
    if type(element) == str:
        print(element, "is a string.")
    else:
        print(element, "is not a string, it is a", type(element))

one is a string.
2 is not a string, it is a <class 'int'>
3.0 is not a string, it is a <class 'float'>
four is a string.
5 is not a string, it is a <class 'int'>
6 is not a string, it is a <class 'int'>

In [ ]:
mixed_list = ['one', 2, 3.0, 'four', 5, 6]

for element in mixed_list:
    if type(element) == str:
        print(element, "is a string.")
    elif element % 2 == 0: # remember that % returns the remainder of the division
        print(element, "is an even number.")
    else:
        print(element, "is not a string, it is a", type(element))

one is a string.
2 is an even number.
3.0 is not a string, it is a <class 'float'>
four is a string.
5 is not a string, it is a <class 'int'>
6 is an even number.

In [ ]:
# Decision making in the fruit section: it's complicated!

fruits = ['apple', 'orange', 'banana', 'grapes', 'kiwi']
colors = ['red', 'yellow', 'orange']
sale = ['apple', 'banana']
favorite = ['apple', 'grapes']

for fruit in fruits:
    print("Let me take a look at this", fruit, "...")
    if (fruit in fruits) and (fruit in colors):
        print("Isn't it funny that a(n)", fruit, "is both a fruit and a color?")
    elif (fruit in sale) or (fruit in favorite):
        print("I'll take this today.")
    else:
        print("Not this one.")

Let me take a look at this apple ...
I'll take this today.
Let me take a look at this orange ...
Isn't it funny that a(n) orange is both a fruit and a color?
Let me take a look at this banana ...
I'll take this today.
Let me take a look at this grapes ...
I'll take this today.
Let me take a look at this kiwi ...
Not this one.

In [ ]:
# how many generic department names can we create?

dept_titles = ['The Department of', 'The Division of', 'The Center for']
dept_prefixes = ['Molecular', 'Physical', 'Quantitative', 'Computational']
dept_suffixes = ['Biology', 'Chemistry', 'Biology', 'Chemistry']

# The Department of Molecular Biology
# The Department of Molecular Chemistry
# ...

### write your code below ###

for title in dept_titles:
    for prefix in dept_prefixes:
        for suffix in dept_suffixes:
            print(title, prefix, suffix)

The Department of Molecular Biology
The Department of Molecular Chemistry
The Department of Molecular Biology
The Department of Molecular Chemistry
The Department of Physical Biology
The Department of Physical Chemistry
The Department of Physical Biology
The Department of Physical Chemistry
The Department of Quantitative Biology
The Department of Quantitative Chemistry
The Department of Quantitative Biology
The Department of Quantitative Chemistry
The Department of Computational Biology
The Department of Computational Chemistry
The Department of Computational Biology
The Department of Computational Chemistry
The Division of Molecular Biology
The Division of Molecular Chemistry
The Division of Molecular Biology
The Division of Molecular Chemistry
The Division of Physical Biology
The Division of Physical Chemistry
The Division of Physical Biology
The Division of Physical Chemistry
The Division of Quantitative Biology
The Division of Quantitative Chemistry
The Division of Quantitative Biology
The Division of Quantitative Chemistry
The Division of Computational Biology
The Division of Computational Chemistry
The Division of Computational Biology
The Division of Computational Chemistry
The Center for Molecular Biology
The Center for Molecular Chemistry
The Center for Molecular Biology
The Center for Molecular Chemistry
The Center for Physical Biology
The Center for Physical Chemistry
The Center for Physical Biology
The Center for Physical Chemistry
The Center for Quantitative Biology
The Center for Quantitative Chemistry
The Center for Quantitative Biology
The Center for Quantitative Chemistry
The Center for Computational Biology
The Center for Computational Chemistry
The Center for Computational Biology
The Center for Computational Chemistry

In [ ]:
# tip: in python you can use the += operator to simultaneously add a value to
# a variable and update the variable in place

vowel_count = 0

for char in 'The quick brown fox jumped over the lazy dog':
    if char in 'aeiou':  # logic check for vowels
        vowel_count += 1

print(vowel_count)

12

In [ ]:
sample_seq = 'TACGTAGCGTGGTCGCACAAGCACAGTAGATCCTCCCCGCGCATCCTATTTATTAAGTTAATTCT'

### write your code below ###

A_count = 0
T_count = 0
G_count = 0
C_count = 0

for nucleotide in sample_seq:
    # some logic tracking if 'A', 'T', 'G', or 'C'
    if nucleotide == 'A':
        A_count += 1
    elif nucleotide == 'T':
        T_count += 1
    elif nucleotide == 'G':
        G_count += 1
    elif nucleotide == 'C':
        C_count += 1

print(A_count / len(sample_seq) * 100)
print(T_count / len(sample_seq) * 100)
print(G_count / len(sample_seq) * 100)
print(C_count / len(sample_seq) * 100)

24.615384615384617
29.230769230769234
18.461538461538463
27.692307692307693

In [ ]:
fb_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# hints: refer to the numeric operations we learned about this morning
#        the order of your conditionals matters

### write your code below ###

for num in fb_numbers:
    print("The fizz-buzz number is", num)

    if num % 2 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 5 == 0:
        print("buzz")
    elif num % 2 == 0:
        print("fizz")

The fizz-buzz number is 1
The fizz-buzz number is 2
fizz
The fizz-buzz number is 3
The fizz-buzz number is 4
fizz
The fizz-buzz number is 5
buzz
The fizz-buzz number is 6
fizz
The fizz-buzz number is 7
The fizz-buzz number is 8
fizz
The fizz-buzz number is 9
The fizz-buzz number is 10
fizzbuzz

In [ ]:
num_list = [5, 9, 2.3, 14, 3, 2, 10]
num_list.append(18)  # .append() adds a single value to the end of the list

print(num_list)

[5, 9, 2.3, 14, 3, 2, 10, 18]

In [ ]:
# some_num = 6.0
# some_num = str(some_num)

In [ ]:
# an example of chaining methods

num_list = [5, 9, 2.3, 14, 3, 2, 10]
print('Original list:', num_list)

# use three methods, one after another
num_list.extend([1, 1, 52, 4, 8, 0])
print('Extended:', num_list)
num_list.sort()
print('Sorted:', num_list)
num_list.reverse()
print('Reversed:', num_list)

print('Final version of list:', num_list)

Original list: [5, 9, 2.3, 14, 3, 2, 10]
Extended: [5, 9, 2.3, 14, 3, 2, 10, 1, 1, 52, 4, 8, 0]
Sorted: [0, 1, 1, 2, 2.3, 3, 4, 5, 8, 9, 10, 14, 52]
Reversed: [52, 14, 10, 9, 8, 5, 4, 3, 2.3, 2, 1, 1, 0]
Final version of list: [52, 14, 10, 9, 8, 5, 4, 3, 2.3, 2, 1, 1, 0]

In [ ]:
# try it out:
# use print() to view the list at each step

num_list = [5, 9, 2.3, 14, 3, 2, 10]
print(num_list)

# use .reverse() to reverse num_list

num_list.reverse()
print(num_list)

# use .extend() to add [1, 8, 1] to the list

num_list.extend([1, 8, 1])
print(num_list)

# use .sort() to sort num_list

num_list.sort()
print(num_list)

# use .remove() to remove 2.3 from the list

num_list.remove(2.3)
print(num_list)

# print the final version of num_list: is it what you expect?
print(num_list)

[5, 9, 2.3, 14, 3, 2, 10]
[10, 2, 3, 14, 2.3, 9, 5]
[10, 2, 3, 14, 2.3, 9, 5, 1, 8, 1]
[1, 1, 2, 2.3, 3, 5, 8, 9, 10, 14]
[1, 1, 2, 3, 5, 8, 9, 10, 14]
[1, 1, 2, 3, 5, 8, 9, 10, 14]

In [ ]:
# try it out:

# print the number of 1 (ones) that exist in num_list

print(num_list.count(1))

# print the index of the first instance of 1

print(num_list.index(1))

2
0

In [ ]:
# a very imaginary and very short mRNA string

imaginary_seq = 'AGGCATTTAGCATGCATGTAACGATGCTGCGCGTTCA'

In [ ]:
# let's start by replacing all the T's with U's
# using .replace()

# 'T' is the target, 'U' is the replacement
print(f"T replaced with U: {imaginary_seq.replace('T', 'U')}")

print(f"But imaginary_seq is *not* modified in place: {imaginary_seq}")  # checks the value of imaginary_seq

T replaced with U: AGGCAUUUAGCAUGCAUGUAACGAUGCUGCGCGUUCA
But imaginary_seq is *not* modified in place: AGGCATTTAGCATGCATGTAACGATGCTGCGCGTTCA

In [ ]:
# we have to *manually* update imaginary_seq if we want the string saved

imaginary_seq = imaginary_seq.replace('T', 'U')
print(f'Once imaginary_seq is updated: {imaginary_seq}')

Once imaginary_seq is updated: AGGCAUUUAGCAUGCAUGUAACGAUGCUGCGCGUUCA

In [ ]:
# next, let's try to see if there are any start codons (AUG) in this sequence
# using .find()

imaginary_seq.find('AUG')  # if no AUG exists, it'll return -1

11

In [ ]:
# now that we know that at least one start codon exists
# let's count how many instances there are
# using .count()

print(f"There are {imaginary_seq.count('AUG')} instances of AUG.")

There are 3 instances of AUG.

In [ ]:
# we can break apart the sequence at each instance of AUG
# using .split()

split_seqs = imaginary_seq.split('AUG')
print(f"Substrings after splitting: {split_seqs}")
print(f"imaginary_seq is not modified in place: {imaginary_seq}")

Substrings after splitting: ['AGGCAUUUAGC', 'C', 'UAACG', 'CUGCGCGUUCA']
imaginary_seq is not modified in place: AGGCAUUUAGCAUGCAUGUAACGAUGCUGCGCGUUCA

In [ ]:
# we can also reconstruct the sequence, joining the strings in split_seqs
# together, using AUG as our "connector" string
# using .join()

reconstructed_seq = 'AUG'.join(split_seqs)

# syntax note: .join() is a method for *strings*
# that means that the target of .join() must be a string
# split_seqs is a list, which means that 'AUG' must be our target

print('After joining:', reconstructed_seq)

After joining: AGGCAUUUAGCAUGCAUGUAACGAUGCUGCGCGUUCA

In [ ]:
# try it out:
# use a logic check to see if reconstructed_seq is the same as imaginary_seq

reconstructed_seq == imaginary_seq

True

In [ ]:
# resetting our strings:
imaginary_seq = 'AGGCATTTAGCATGCATGTAACGATGCTGCGCGTTCA'
catless = 'AGGGGTAACGATGCTGCGCGTTCATTAG'

# try it out:
# count each instance of the substring 'CAT'

print("Number of 'CAT's in imaginary_seq", imaginary_seq.count("CAT"))
print("Number of 'CAT's in catless", catless.count("CAT"))

Number of 'CAT's in imaginary_seq 3
Number of 'CAT's in catless 1

In [ ]:
# try it out:
# split imaginary_seq at each instance of 'CAT'
# and save the resultant list to a variable called imaginary_cats

imaginary_cats = imaginary_seq.split("CAT")
imaginary_cats

['AGG', 'TTAG', 'G', 'GTAACGATGCTGCGCGTTCA']

In [ ]:
# try it out:
# sort imaginary_cats alphabetically
# (this will require a method for lists, not strings!)

imaginary_cats.sort()
imaginary_cats

['AGG', 'G', 'GTAACGATGCTGCGCGTTCA', 'TTAG']

In [ ]:
# try it out:
# join imaginary_cats using an *empty* string ('')
# and save the result in a variable called no_cats

no_cats = ''.join(imaginary_cats)
no_cats

'AGGGGTAACGATGCTGCGCGTTCATTAG'

In [ ]:
# try it out:
# let's mix in some control flow and logic checks:
# 1) check if no_cats is equal to catless
# 2) if no cats is equal to catless, print the string "No cats!"

if no_cats == catless:
    print("No cats!")

No cats!

In [ ]:
def sum_then_square(a, b):
    # This function will coerce a and b to floats, sum the numbers a and b, then square the sum.
    a = float(a)
    b = float(b)
    squared_sum = (a + b)**2
    print(squared_sum)

In [ ]:
# try it out:
# run the function sum_then_square with 2 and 5

sum_then_square(2, 5)

49.0

In [ ]:
# try it out:
# save the output of sum_then_square(2, 5) to a variable called summed_square
# then print the value of summed_square

summed_square = sum_then_square(2, 5)
print(summed_square)

49.0
None

In [ ]:
print(print("What happens with a nested print?"))

What happens with a nested print?
None

In [ ]:
# we can update functions by re-defining them, just like updating a variable by re-assigning it

def sum_then_square(a, b):
    # This function will coerce a and b to floats, sum the numbers a and b, then square the sum.
    a = float(a)
    b = float(b)
    squared_sum = (a + b)**2
    print(squared_sum)
    return squared_sum

In [ ]:
# try it out:
# save the output of sum_then_square(2, 5) to a variable called summed_square
# then print the value of summed_square
# you can use the same code as you did before!

summed_square = sum_then_square(2, 5)
print(summed_square)

49.0
49.0

In [ ]:
# try it out:
# 1) run this cell to see the error message
# 2) correct the error(s) to generate the desired output (see above)

def min_seq(a, b, c):
    # Takes three string sequences and returns the shortest sequence in the trio.

    print(f'String A is {len(a)} characters long.')
    print(f'String B is {len(b)} characters long.')
    print(f'String C is {len(c)} characters long.')

    # find the shortest length of all sequences
    lengths = [len(a), len(b), len(c)]
    shortest_length = int(min(lengths))

    # return the sequence with the shortest length
    if len(a) == shortest_length:
        return a
    elif len(b) == shortest_length:
        return b
    elif len(c) == shortest_length:
        return c
    else:
        return None

### do not modify below ###
shortest = min_seq('TAGGATGAA', 'TTATAGCTACG', 'AATGATC')
print('The actual saved value of shortest was: ', shortest)
### do not modify above ###

String A is 9 characters long.
String B is 11 characters long.
String C is 7 characters long.
The actual saved value of shortest was:  AATGATC

In [ ]:
# edit the skeleton code below to create a nested list called nested_plate
# that contains one list for each row

nested_plate = []  # an empty list: append lists to this to create a nested list

rows = ['A','B','C']
columns = list(range(10))

for row in rows:  # loop through rows
	sub_row = []
	for col in columns:  # loop through columns
		sub_row.append(row + str(col))  # build up the sub_row
	nested_plate.append(sub_row)  # build up the full plate

nested_plate

[['A0', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9'],
 ['B0', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B9'],
 ['C0', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9']]

In [ ]:
### Solution ###

In [ ]:
num_list = [5, 9, 2.3, 14, 3, 2, 10]

# hints:
# 1. you can use sum() to add all elements in a list
# 2. you can use len() to determine the length of an object with multiple elements
# 3. remember that you can print multiple things with one print() call
#    just separate your inputs with commas!

### write your code below ###
def list_mean(my_list):
    list_sum = sum(my_list)
    list_mean = list_sum / len(my_list)
    print("The mean value is", list_mean)
    return list_mean

list_mean(num_list)

The mean value is 6.471428571428571

6.471428571428571

In [ ]:
# hints:
# the median index can be found using the formula ((n+1)/2)-1
# the extra -1 accounts for zero-indexing :)

num_list = [5, 9, 2.3, 14, 3, 2, 10]

### write your code below ###

def list_median(my_list):
    my_list.sort()
    n = len(my_list)
    median_value = my_list[int(((n+1)/2)-1)]
    print("The median value is", median_value)
    return median_value

In [ ]:
list_median(num_list)

The median value is 5

5

In [ ]:
nested_nums = [[8, 4, 2], [7, 21, -3], [6.8, 3, 9]]

### write your code below ###

for some_list in nested_nums:
    list_median(some_list)

The median value is 4
The median value is 7
The median value is 6.8

In [ ]:
num_tuple = (5, 0, 9.2, 8, 0)  # tuples are defined using parentheses
print('The tuple:', num_tuple)

print(num_tuple[0])  # first element
print(num_tuple[-1])  # last element

The tuple: (5, 0, 9.2, 8, 0)
5
0

In [ ]:
def summarize_tuple(input_list):
    # A function that will take a list of numerics return three key summary values:
    # 1. The length
    # 2. The median
    # 3. The mean
    print('Output is in order: length, median, mean')

    return len(input_list), list_median(input_list), list_mean(input_list)

summarize_tuple(num_list)

Output is in order: length, median, mean
The median value is 5
The mean value is 6.471428571428571

(7, 5, 6.471428571428571)

In [ ]:
out = summarize_tuple(num_list)

Output is in order: length, median, mean
The median value is 5
The mean value is 6.471428571428571

In [ ]:
print(type(out))  # as promised, the output of elements from a function is a tuple by default
print(out)

<class 'tuple'>
(7, 5, 6.471428571428571)

In [ ]:
# Method 1: Create a set using curly brackets
groceries = {'grapes', 'milk', 'eggs', 'apple', 'salmon', 'bread'}  # initalized with curly brackets

print(groceries)
print(type(groceries))

{'apple', 'grapes', 'eggs', 'milk', 'salmon', 'bread'}
<class 'set'>

In [ ]:
# Method 2: Create a set from an existing object

# example: tuple with duplicate elements
fruit = ('apple', 'orange', 'banana', 'apple', 'grapes', 'orange')
print('The original tuple:', fruit)
print('The coerced set:', set(fruit))  # duplicate values dropped

The original tuple: ('apple', 'orange', 'banana', 'apple', 'grapes', 'orange')
The coerced set: {'banana', 'apple', 'grapes', 'orange'}

In [ ]:
# Coercing a single string into a set yields interesting results...
print('Turning a single string into a set:', set('apple'))

Turning a single string into a set: {'a', 'l', 'p', 'e'}

In [ ]:
# Method 1: defining a dictionary from scratch
# dictionaries are defined using curly brackets, like sets
# each key-value pair is defined as key: value

eukaryotic_dict = {
    'eIF1': 'initiation factor',
    'eIF3': 'initiation factor',
    'eIF4': 'initiation factor',
    'eIF5': 'initiation factor',
    'eRF1': 'release factor',
    'eRF3': 'release factor'
}

eukaryotic_dict

{'eIF1': 'initiation factor',
 'eIF3': 'initiation factor',
 'eIF4': 'initiation factor',
 'eIF5': 'initiation factor',
 'eRF1': 'release factor',
 'eRF3': 'release factor'}

In [ ]:
# Method 2: defining a dictionary from existing lists
# zip()` pairs the lists together
# `dict()` coerces the paired lists into a dictionary

eukaryotic_genes = [
    'eIF1',
    'eRF1',
    'eRF3',
    'eIF3',
    'eIF4',
    'eIF5'
]  # gene names

eukaryotic_desc = [
    'initiation factor',
    'release factor',
    'release factor',
    'initiation factor',
    'initiation factor',
    'initiation factor'
]  # gene descriptions

eukaryotic_dict = dict(zip(eukaryotic_genes, eukaryotic_desc))
eukaryotic_dict

{'eIF1': 'initiation factor',
 'eRF1': 'release factor',
 'eRF3': 'release factor',
 'eIF3': 'initiation factor',
 'eIF4': 'initiation factor',
 'eIF5': 'initiation factor'}

In [ ]:
# using eIF3 as the key index will return the associated value
print(eukaryotic_dict['eIF3'])

initiation factor

In [ ]:
# Using explicit assignment to add a single key-value pair
eukaryotic_dict['eIF5B'] = 'initiation factor'
print('After eIF5B is added:')
eukaryotic_dict

After eIF5B is added:

{'eIF1': 'initiation factor',
 'eRF1': 'release factor',
 'eRF3': 'release factor',
 'eIF3': 'initiation factor',
 'eIF4': 'initiation factor',
 'eIF5': 'initiation factor',
 'eIF5B': 'initiation factor'}

In [ ]:
# Using .update() to add multiple key-value pairs
more_genes = {
    'eIF6': 'initiation factor',
    'eEF1': 'elongation factor',
    'eEF2': 'elongation factor',
    'eRF1': 'release factor',
    'eRF3': 'release factor'
}  # a new dictionary with more entries

eukaryotic_dict.update(more_genes) # updates the dict in place
print('After multiple entries are added:')
eukaryotic_dict

After multiple entries are added:

{'eIF1': 'initiation factor',
 'eRF1': 'release factor',
 'eRF3': 'release factor',
 'eIF3': 'initiation factor',
 'eIF4': 'initiation factor',
 'eIF5': 'initiation factor',
 'eIF5B': 'initiation factor',
 'eIF6': 'initiation factor',
 'eEF1': 'elongation factor',
 'eEF2': 'elongation factor'}

In [ ]:
print('The .keys() iterable object:')
print(eukaryotic_dict.keys())

The .keys() iterable object:
dict_keys(['eIF1', 'eRF1', 'eRF3', 'eIF3', 'eIF4', 'eIF5', 'eIF5B', 'eIF6', 'eEF1', 'eEF2'])

In [ ]:
print('We can use the iterable in a loop:')
for key in eukaryotic_dict.keys():
  print(f'The key {key} is a {type(key)}')

We can use the iterable in a loop:
The key eIF1 is a <class 'str'>
The key eRF1 is a <class 'str'>
The key eRF3 is a <class 'str'>
The key eIF3 is a <class 'str'>
The key eIF4 is a <class 'str'>
The key eIF5 is a <class 'str'>
The key eIF5B is a <class 'str'>
The key eIF6 is a <class 'str'>
The key eEF1 is a <class 'str'>
The key eEF2 is a <class 'str'>

In [ ]:
# try it out:
# coerce the generic iterable generated by .keys() into a structure
# that supports indexing, then see if you can access index 0

list(eukaryotic_dict.keys())[0]
tuple(eukaryotic_dict.keys())[0]

'eIF1'

In [ ]:
eukaryotic_dict.items()

dict_items([('eIF1', 'initiation factor'), ('eRF1', 'release factor'), ('eRF3', 'release factor'), ('eIF3', 'initiation factor'), ('eIF4', 'initiation factor'), ('eIF5', 'initiation factor'), ('eIF5B', 'initiation factor'), ('eIF6', 'initiation factor'), ('eEF1', 'elongation factor'), ('eEF2', 'elongation factor')])

In [ ]:
# or even more streamlined way of doing this (not as understandable)
dict_keys_list = list(eukaryotic_dict.items())

print(dict_keys_list[0])

('eIF1', 'initiation factor')

In [ ]:
groceries = {'grapes', 'milk', 'eggs', 'apple', 'salmon', 'bread'}
fruits = set(('apple', 'orange', 'banana', 'apple', 'grapes', 'orange'))
refrigerator = {'milk', 'salmon', 'eggs', 'grapes'}
favorites = {'apple', 'grapes'}

# check the difference between groceries and fruits
print(groceries.difference(fruits))

# check the intersection between groceries and fruits
print(groceries.intersection(fruits))

# check the union between groceries and fruits
print(groceries.union(fruits))

# check for a set that is a subset of groceries
print("fruits is a subset of groceries", fruits.issubset(groceries))
print("refrigerator is a subset of groceries", refrigerator.issubset(groceries))
print("favorites is a subset of groceries", favorites.issubset(groceries))

# check for a set that is a superset of favorites
print("fruits is a superset of favories", fruits.issuperset(favorites))
print("groceries is a superset of favories", groceries.issuperset(favorites))
print("refrigerator is a superset of favories", refrigerator.issuperset(favorites))

{'milk', 'salmon', 'eggs', 'bread'}
{'apple', 'grapes'}
{'banana', 'grapes', 'milk', 'salmon', 'bread', 'apple', 'orange', 'eggs'}
fruits is a subset of groceries False
refrigerator is a subset of groceries True
favorites is a subset of groceries True
fruits is a superset of favories True
groceries is a superset of favories True
refrigerator is a superset of favories False

In [ ]:
### your code goes here ###
# .keys()
# .values()
print(eukaryotic_dict.keys())  # these are gene names
print(eukaryotic_dict.values())  # these are gene descriptions

unique_names_set = set(eukaryotic_dict.keys())
unique_descr_set = set(eukaryotic_dict.values())

print("Num unique names", len(unique_names_set))
print("Num unique descriptions", len(unique_descr_set))

dict_keys(['eIF1', 'eRF1', 'eRF3', 'eIF3', 'eIF4', 'eIF5', 'eIF5B', 'eIF6', 'eEF1', 'eEF2'])
dict_values(['initiation factor', 'release factor', 'release factor', 'initiation factor', 'initiation factor', 'initiation factor', 'initiation factor', 'initiation factor', 'elongation factor', 'elongation factor'])
Num unique names 10
Num unique descriptions 3

In [ ]:
set(eukaryotic_dict.values())

{'elongation factor', 'initiation factor', 'release factor'}

In [ ]:
list(eukaryotic_dict.items())

for item in eukaryotic_dict.items():
    print("The gene", item[0], "is a", item[1])

The gene eEF1 is a elongation factor
The gene eEF2 is a elongation factor
The gene eIF1 is a initiation factor
The gene eIF3 is a initiation factor
The gene eIF4 is a initiation factor
The gene eIF5 is a initiation factor
The gene eIF5B is a initiation factor
The gene eIF6 is a initiation factor
The gene eRF1 is a release factor
The gene eRF3 is a release factor

In [ ]:
### do not change below ###
eukaryotic_dict = {
    'eEF1': 'elongation factor',
    'eEF2': 'elongation factor',
    'eIF1': 'initiation factor',
    'eIF3': 'initiation factor',
    'eIF4': 'initiation factor',
    'eIF5': 'initiation factor',
    'eIF5B': 'initiation factor',
    'eIF6': 'initiation factor',
    'eRF1': 'release factor',
    'eRF3': 'release factor'
}
### do not change above ###

# hint:
# .items() generates an iterable of key-value pairs in a tuple structure
# each key-value tuple can be indexed

## write your code below ###
# First solution
for item in eukaryotic_dict.items():
    gene_name = item[0]
    gene_descr = item[1]

    print(gene_name, "is a", gene_descr)

# # Second solution
# for (gene_name, gene_descr) in eukaryotic_dict.items():
#     print(gene_name, "is a", gene_descr)

eEF1 is a elongation factor
eEF2 is a elongation factor
eIF1 is a initiation factor
eIF3 is a initiation factor
eIF4 is a initiation factor
eIF5 is a initiation factor
eIF5B is a initiation factor
eIF6 is a initiation factor
eRF1 is a release factor
eRF3 is a release factor

In [ ]:
# tip: You can use the following indexing trick (`[::-1]`) to reverse a string or a list.

abc_string = 'ABC'
abc_tuple = ('A', 'B', 'C')

print('Reversed string:', abc_string[::-1])
print('Reversed tuple:', abc_tuple[::-1])

Reversed string: CBA
Reversed tuple: ('C', 'B', 'A')

In [ ]:
# ATTAGC  <-- in
# GCTAAT  --> out

imaginary_seq = 'AGGCATTTAGCATGCATGTAACGATGCTGCGCGTTCA'

# hints: the += operator *also* works for adding characters to strings

# this dictionary contains the complement for every nucleotide
nuc_comp_dict = {"A":"T", "T":"A", "G":"C", "C":"G"}

### write your code below ###

def revcomp(my_sequence):
    # 1. Reverse the sequence
    my_sequence = my_sequence[::-1]

    # 2. Find the complement for nucleotides
    complemented_sequence = []
    for nuc in my_sequence:
        nuc_comp = nuc_comp_dict[nuc]
        complemented_sequence.append(nuc_comp)

    revcomp_sequence = "".join(complemented_sequence)
    print(revcomp_sequence)
    return my_sequence, revcomp_sequence

revcomp(imaginary_seq)

TGAACGCGCAGCATCGTTACATGCATGCTAAATGCCT

('ACTTGCGCGTCGTAGCAATGTACGTACGATTTACGGA',
 'TGAACGCGCAGCATCGTTACATGCATGCTAAATGCCT')

In [ ]:
for nuc in "ATTCG":
    print(nuc_comp_dict[nuc])

# nuc_comp_dict["C"]

T
A
A
G
C

**C5**: Write a function called `p_nucleotides()` that uses the `.count()` method to count the number of nucleotides in the input sequence. The function should return a dictionary of nucleotides and their corresponding frequencies.

In [ ]:
### write your code below ###

# AAATC --> {'A': 0.6, 'T': 0.2, 'C': 0.2}

def p_nucleotides(my_sequence):
    nuc_dict = {
        "A": 0,
        "T": 0,
        "G": 0,
        "C": 0,
    }

    # first, count total occurences of each nucleotide
    # AAATCCCGGG
    for nuc in my_sequence:
        # # one way
        # if nuc == "A":
        #     nuc_dict["A"] += 1
        # elif nuc == "T":
        #     nuc_dict["T"] += 1
        # elif nuc == "G":
        #     nuc_dict["G"] += 1
        # elif nuc == "C":
        #     nuc_dict["C"] += 1

        # another way
        nuc_dict[nuc] += 1

    # second, convert from cout to frequency
    nuc_dict["A"] = nuc_dict["A"] / len(my_sequence)
    nuc_dict["T"] = nuc_dict["T"] / len(my_sequence)
    nuc_dict["G"] = nuc_dict["G"] / len(my_sequence)
    nuc_dict["C"] = nuc_dict["C"] / len(my_sequence)

    return nuc_dict

p_nucleotides(imaginary_seq)

{'A': 0.24324324324324326,
 'T': 0.2702702702702703,
 'G': 0.2702702702702703,
 'C': 0.21621621621621623}

In [ ]:
jumbled_list = ['5', 9, '8.0', 15, 3.2, '0', 1]

### write your code below ###
def list_joiner(my_list):
   ... code goes here ...

list_joiner(jumbled_list)

In [ ]:
nested_nums = [[8, 4, 2], [7, 21, -3], [6.8, 3, 9]]

### write your code below ###

In [ ]:
cat_format = 'I have a {}, {} of them. Does this make me a hoarder?'
print("The 'blueprint' string:", cat_format)
print("Formatted string:", 'I have a {}, {} of them. Does this make me a hoarder?' .format('cat', 13))

In [ ]:
# below, we provide seven placeholder names:
# 1) refseq
# 2) INSDC
# 3) size
# 4) GC
# 5) protein
# 6) datatype
# 7) name

ref_format = '''Type	Name\tRefSeq\tINSDC\tSize (Mb)\tGC%\tProtein
{datatype}\t{name}\t{refseq}\t{INSDC}\t{size}\t{GC}\t{protein}'''

# format the string with data for one sequence...
print('Formatted string #1:\n',
      ref_format.format(refseq = 'NC_000913.3',
                        INSDC = 'U00096.3',
                        size = 4.64,
                        GC = 50.8,
                        protein = 4242,
                        datatype = 'Chr',
                        name = '-'))

# and then do the same with data for another sequence
print('Formatted string #2:\n',
      ref_format.format(datatype = 'Chr',
                        name = '-',
                        refseq = 'NC_003197.2',
                        INSDC = 'AE006468.2',
                        size = 4.86,
                        GC = 52.2,
                        protein = 4446))

In [ ]:
# let's say that we want to count the length of each string in weekdays

print(weekdays)

weekday_len = [] # empty (container) list
for day in weekdays:
  weekday_len.append(len(day)) # appending updates the list in place

print(weekday_len)

In [ ]:
# now we'll use a list comprehension

weekday_len = [len(day) for day in weekdays] # no need to append: just use len() directly

print(weekdays)
print(weekday_len)

In [ ]:
num_list = [5, 9, 2.3, 14, 3, 2, 10]

# try it out:
# create a container list called for_squared
# square the value of each element in num_list using a for loop, appending
# each squared value to for_squared

In [ ]:
# try it out:
# use a list comprehension to square each value of num_list, saving the new
# list to a variable called comp_squared

In [ ]:
while_string = 'this will loop until the string is only a period.'

while len(while_string) > 1:
  while_string = while_string[1:] # shortens it by one character
  print(while_string)